
.hamburger
{
    display: none;
    cursor: pointer;
    position: relative;
    margin: auto;
}

.line1, .line2, .line3
{
    height: 3px;
    width: 30px;
    margin: 6px 0;
    transition: 0.4s;
    background-color: black;
}

.blur 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
    display: none; 
    background-color: rgba(70, 70, 70, 0.5);
}

@media screen and (max-width:1500px) 
{
    .hamburger
    {
        display: inline-block;
    }
}
