
.sidebar-menu
{
    font-size: 17px;
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: -250px;
    padding-top: 100px;
    z-index: 10;
    background-color: white;
    transition: 0.6s ease;
    overflow-y: auto;
    max-height: calc(100% - 100px);
}

.sidebar-menu.show
{
    width: 250px;
    left: 0;
    transition: 0.6s ease;
}

.sidebar-menu.show + .blur 
{
    display: block;
}

.closeButton
{
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
}

.sidebar-categories
{
    border-bottom: 1px solid rgb(185, 185, 185);
    position: relative;
}

.toggle-dropdown
{
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 20px;
    width: 50px;
    height: 60px;
    cursor: pointer;
    border: none;
    background-color: white;
    border-left: 1px solid silver;
    z-index: 11;
}

.sidebar-categories > a
{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: black;
}

.dropdown-options
{
    display: none;
    margin: 20px auto;
    border-top: 1px solid silver;
}

.dropdown-options > a
{
    text-decoration: none;
    margin: 12px;
    color: rgba(0, 0, 0, 0.555);
}

.dropdown-options > a:hover
{
    color: black;
    text-decoration: underline;
}

.show-dropdown
{
    display: flex;
    flex-direction: column;
    animation: growDown 550ms ease-in-out forwards;
    transform-origin: top center;
}
    
@keyframes growDown 
{
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

@media screen and (min-width:1500px) 
{
    .sidebar-menu
    {
        display: none;
    } 

    .sidebar-menu.show + .blur
    {
        display: none;
    }
}