
.slider-container
{
    position: relative;
    display: flex;
    width: 95%;
    margin: 50px auto;
    padding-top: 75px;
    overflow: hidden;
}


.slider-container > .slider
{
    display: flex;
    transition: 1s;
}

.slider > .slide-img
{
    position: relative;
    min-width: 33.33%;
    box-sizing: border-box;
    padding: 18px;
}

.add-to-wishlist
{
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1;
}

.add-to-wishlist > button
{
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    transition: transform 0.4s;
}

.add-to-wishlist > button:hover
{
    transform: scale(1.2);
}

.slide-img > img
{
    width: 100%;
    z-index: 1;
    cursor: pointer;
}


.slide-img > .title
{
    font-size: 20px;
}

.slide-img > button
{
    position: absolute;
    bottom: 45px;
    right: 18px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    padding: 18px;
    border: none;
    color: white;
    transition: 0.4s;
}

.slide-img > button:hover
{
    box-shadow: inset 13em 0 0 0 rgba(255, 192, 203, 0.89);
}

.next, .prev
{
    position: absolute;
}

.prev > button, .next > button
{
    border: none;
    background-color: rgb(231, 231, 231);
    transition: 0.4s;
    border-radius: 50%;
    font-size: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.prev > button:hover, .next > button:hover
{
    background-color: rgb(190, 190, 190);
    transition: 0.4s;
}

.prev
{
    top: 12px;
    right: 65px;
}

.next
{
    top: 12px;
    right: 10px;
}

@media screen and (max-width: 1500px)
{
    .slider > .slide-img
    {
        min-width: 50%;
    }
}

@media screen and (max-width: 1000px)
{
    .slider > .slide-img
    {
        min-width: 100%;
    }
}

@media screen and (max-width: 800px) 
{
    .slider > .slide-img
    {
        padding: 0;
    }    
}
