
body
{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

#topBtn
{
    position: fixed;
    bottom: 5px;
    right: -100px;
    width: auto;
    z-index: 2;
    cursor: pointer;
    border-radius:100%;
    border: none;
    background-color: transparent;
    transition: right 0.2s ease;
}

#topBtn.active
{
    transition: right 0.2s ease;
    right: 5px;
}

#topBtn img
{
    width: 50px;
}

.header
{
    border-bottom: 1px solid rgb(32, 32, 32);
    display: flex;
}


.main-header
{
    display: flex;
    background-color: white;
}

.sticky
{
    position: sticky;
    top: 0;
    z-index: 2;
    transition: top 0.4s ease;
}

.logo
{
    display: flex;
    flex: 5%;
    justify-content: center;
    align-items: center;
    order: 1;
}

.menu
{   
    flex: 70%;
    order: 2;
    min-width: 50px;
}

.button-group
{
    display: flex;
    flex: 25%;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-right: 25px;
    order: 3;
}

.loginform
{
    position: relative;
    margin: auto;
}

.wishlist, .shopping-cart, .avatar
{
    display: flex;
}

.contract-socials
{
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
}

.contract-socials > a, .contract-socials > p
{
    margin: auto 12px;
    padding: 8px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.contract-socials > p
{
    margin-right: 80px;
}

.list
{
    display: flex;
    flex: 50%;
    justify-content: center;
    align-items: center;
}

ul
{
    margin: 10px auto;
}

ul > a
{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-right: 15px;
}

.pre-footer
{
    display: flex;
    flex-direction: column;
}

.col-50
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    margin: auto 50px;
}

.col-25
{
    flex: 25%;
    margin: 50px 50px 50px 80px;
}

.col-25 a, .col-25 p
{
    display:block;
    text-decoration: none;
    transition: 0.4s;
    color: rgb(100, 100, 100);
}

.col-25 a:hover
{
    color: black;
    transition: 0.4s;
}

.col-100
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer
{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    background-color: black;
    color: rgb(179, 179, 179);
}

@media screen and (max-width:1500px) 
{
    .menu
    {
        order: 1;
        flex: 10%;
        display: flex;
    }

    .menu > .megamenu-menu
    {
        display: none;
    }

    .logo
    {
        flex: 75%;
        order: 2;
    }

    .logo > img
    {
        max-width: 150px;
    }

    .button-group
    {
        flex: 15%;
    }

    .contract-socials > p
    {
        margin-right: 80px;
    }
}

@media screen and (max-width:1250px) 
{
    .header > .list
    {
        display: none;
    }

    .loginform
    {
        display: none;
    }

    .button-group
    {
        margin-right: 0;
        gap: 10px;
    }
}

@media screen and (max-width:1000px)
{

    .pre-footer > .col-50:last-child
    {
        display: none;
    }

    .col-50
    {
        flex-direction: column;
    }

    .col-25 > h2 
    {
        text-align: center;
    }
}

@media screen and (max-width:800px) 
{

    .contract-socials > a:first-child
    {
        display: none;
    }  

    .contract-socials > p
    {
        display: none;
    }

}